#vidseo_metabox {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 5px 10px;
}
#vidseo_post_options .postbox-header {
    display: none;
}

#vidseo_post_options .vidseo_input {
    border-radius: 5px;
    font-size: 24px;
    width: 100%;
}
/* Tooltip container */
.vidseo-tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.vidseo-tooltip .vidseo-tooltiptext {
    visibility: hidden;
    width: 570px;
    background-color: #444444;
	font-size: 14px;
    color: #fff;
    text-align: left;
    padding: 10px 15px;
    border-radius: 0px;
    position: absolute;
	top: -12px;
    left: 190%; 
    z-index: 1;
}
.vidseo-tooltip:hover .vidseo-tooltiptext {
    visibility: visible;
}
.vidseo-tooltip .vidseo-tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #444444 transparent transparent;
}

/* The alert message box */
.vidseo-alert {
    padding: 10px 15px;
	border-radius: 5px;
    margin: 10px 0 5px;
	font-size: 12px;
    line-height: 150%;
    background-color: rgba(226, 232, 240, 0.6);
}
.vidseo-alert a {
    color: #fff;
	font-weight: 700;
	text-decoration: none;
	border-bottom: 1px dotted;
}
.vidseo-alert.vidseo-success {
    background-color: #6BBD6E;
    color: #fff;
}
.vidseo-alert.vidseo-warning {
    background-color: #FFAA2C;
    color: #fff;
}
.vidseo-alert.vidseo-info {
    background-color: #47A8F5;
    color: #fff;
}
.vidseo-alert.vidseo-danger {
    background-color: #bd3b4c;
    color: #fff;
}
.vidseo-note {
    background-color:rgba(226, 232, 240, 0.6);
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 500;
    margin-bottom: 10px;
}
#poststuff .vidseo-note h2 {
    padding: 10px 0 0;
    font-size: 20px;
}
#poststuff .vidseo-note ul {
    padding: 10px 0;
}
#poststuff .vidseo-note ul li {
    list-style-type: square;
    margin-left: 18px;
}
#poststuff .vidseo-note .vidseo-code {
    background-color:rgba(226, 232, 240, 0.9);
    padding: 10px;
}
/* The close button */
.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 16px;
    line-height: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: rgba(29, 51, 80, 0.5);
}
.vidseo-containter {
    font-size: 15px;
}
.vidseo-containter p {
    font-size: 15px;
}
.vidseo-containter .vidseo-field {
    padding: 10px;
    border: 2px solid rgba(226, 232, 240, 0.9);
    border-radius: 5px;
	background-color: #fff;
    box-sizing: border-box;
}
.vidseo-containter .vidseo-field.readonly {
    background-color:rgba(226, 232, 240, 0.9);
}

.vidseo-faq {
	margin-top: 20px;
}
.faq-container {
	margin: 8px 0;
	padding: 12px 20px;
	border-radius: 0px;
	background-color: #fff;
    box-shadow: 5px 5px 5px rgba(226, 232, 240, 0.7);
	box-sizing: border-box;
}
.vidseo-q {
	font-weight: 700;
	line-height: 140%;
	margin: 10px 0;
}
.vidseo-a {
	line-height: 140%;
	margin: 10px 0;
}

.vidseo-column {
    float: left;
	padding: 10px 0;
}
.vidseo-column.col-10 {
    width: 80%;
}
.vidseo-column.col-9 {
    width: 75%;
}
.vidseo-column.col-8 {
    width: 66.66666666666667%;
}
.vidseo-column.col-6 {
    width: 50%;
}
.vidseo-column.col-4 {
    width: 33.33333333333333%;
}
.vidseo-column.col-3 {
    width: 25%;
}
.vidseo-column.col-2 {
    width: 20%;
}
.vidseo-column.col-12 {
    width: 100%;
}

.vidseo-row:after {
    content: "";
    display: table;
    clear: both;
}
.vidseo-label {
	font-weight: 700;
	line-height: 180%;
}
.vidseo-label:after {
	content: ":";
}

.vidseo-main {
    font-family: 'Noto Sans JP', sans-serif;
	padding: 5px 30px 15px;
	background-color: #fcfcfc;
	border-radius: 0px;
    box-shadow: 5px 5px 5px rgba(226, 232, 240, 0.7);
    font-size: 14px;
}

.vidseo-column.col-8 span {
    font-size: 13px;
    color:rgba(104, 115, 129, 0.8)
}

.vidseo-sidebar {
	width: 100%;
	padding: 0 0 0 7px;
	box-sizing: border-box;
}
.vidseo-sidebar .box {
	background-color: #fcfcfc;
    box-shadow: 5px 5px 5px rgba(226, 232, 240, 0.9);
	padding: 5px 20px;
	margin-bottom: 7px;
	box-sizing: border-box;
	border-radius: 0px;
}
.vidseo-sidebar .box p {
	font-size: 14px;
}
.vidseo-btn {
    background-color: #6BBD6E;
    border: none;
    color: #fff;
	width: 100%;
    padding: 12px 20px;
	box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius: 5px;
}
.vidseo-btn:hover {
    background-color: #3c963f;
	color: #fff;
}
.vidseo-btn-lg {
    background-color: #6BBD6E;
    box-shadow: 2px 2px 3px rgba(226, 232, 240, 0.8);
    border: none;
    color: #fff;
	width: 100%;
    padding: 16px 20px;
	box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}
.vidseo-btn-lg:hover {
    background-color: #3c963f;
	color: #fff;
}
.vidseo-a li {
   list-style-type: square;
   margin-left: 18px;
   padding: 5px;
}
.vidseo-main li {
    list-style-type: square;
    margin-left: 18px;
    padding: 0px;
 }
.vidseo-tooltip-link {
    color: #fff;
    float: right!important;
}

/* Notice */
.vidseo-notice {
    padding: 10px;
}
.vidseo-p, .vidseo-form-notice, .vidseo-field-notice, .vidseo-btn-notice, .vidseo-clear-notice {
    display: inline-block;
}
.vidseo-field-notice {
    padding: 7px;
    border: 2px solid rgba(226, 232, 240, 0.9);
    border-radius: 5px;
	background-color: #fff;
    box-sizing: border-box;
}
.vidseo-btn-notice {
    background-color: #6BBD6E;
    border: none;
    color: #fff;
    padding: 8px;
	border-radius: 0px;
}

/* The switch - the box around the slider */
.vidseo-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .vidseo-switch input {display:none;}
  
  .vidseo-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e1e1e1;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
  }
  
  .vidseo-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 3px!important;
  }
  
  input:checked + .vidseo-slider {
    background-color: #6BBD6E;
  }
  
  input:focus + .vidseo-slider {
    box-shadow: 0 0 0px #6BBD6E;
  }
  
  input:checked + .vidseo-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .vidseo-slider.vidseo-disabled {
    background-color: #bbb;
  }
  .vidseo-slider.vidseo-disabled:before {
    background-color: #f5f5f5;
  }

  .vidseo-slider.vidseo-round {
    border-radius: 5px;
  }
  
  .vidseo-slider.vidseo-round:before {
    border-radius: 3px;
  }

  
/* Radio Switch Buttons */
.vidseo-switch-radio {
    overflow: hidden;
    display: inline;
}
.vidseo-switch-radio:after {
    content: "";
    display: table;
    clear: both;
}

.switch-title {
  margin-bottom: 6px;
}

.vidseo-switch-radio input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 0px;
    width: 0px;
    border: 0;
    overflow: hidden;
}

.vidseo-switch-radio label {
  float: left;
  background-color:rgba(226, 232, 240, 0.9);
  color: rgba(77, 101, 131, 0.842);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-shadow: none;
  padding: 12px 0;
  min-width: 50%;
  /*border: 1px solid #449447;*/
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition:    all 0.5s ease-in-out;
  -ms-transition:     all 0.5s ease-in-out;
  -o-transition:      all 0.5s ease-in-out;
  transition:         all 0.5s ease-in-out;
}
.misc-pub-section .vidseo-switch-radio label {
    min-width: 50px;
}
.vidseo-switch-radio label:hover {
    cursor: pointer;
}

.vidseo-switch-radio input:checked + label {
  background-color: #6BBD6E;
  color: #fff;
}
.vidseo-switch-radio label:first-of-type {
  border-radius: 5px 0 0 5px;
  border-right: none;
}
.vidseo-switch-radio label:last-of-type {
  border-radius: 0 5px 5px 0;
}
.vidseo-switch-radio input:checked + label:last-of-type {
  background-color: #aaa;
}
.vidseo-switch-radio label.vidseo-disabled {
    background-color: #cbcbcb;
    color: #666;
}
.vidseo-switch-radio input:checked + label.vidseo-youtube {
    background-color: #c4302b;
}
.vidseo-switch-radio input:checked + label.vidseo-vimeo {
    background-color: #00adef;
}

.vidseo-switch-radio .vidseo-tooltip {
    margin-top: 8px;
    margin-left: 3px;
    
}
.vidseo-switch-radio .vidseo-tooltip .vidseo-tooltiptext {
    width: 400px;
	font-size: 12px;
    padding: 10px 15px;
}

.vidseo-area {
    width: 100%;
    height: 300px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid rgba(226, 232, 240, 0.9);
    background-color: #fff;
    border-radius: 5px;
}

.link-box {
    /*background-color: #60dabf;*/
    background-color: #fff;
    margin: 5px;
    padding: 5px 20px 20px;
    border-radius: 0px;
}
.link-box h3 {
    font-size: 14px;
    text-transform: uppercase;
    border-bottom:  1px solid;
    padding-bottom:  15px;
    margin-bottom: 0;
}
.link-box img {
    float: left; 
    width: 75px; 
    margin-right: 8px; 
    /*border: 1px solid #ddd;*/
}
.link-btn {
    display: block;
    background-color: #0073aa;
    padding: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    border-radius: 0px;
}
.vidseo-overlay {
    position: relative;
    display: block;
    margin-bottom: 4px
}
.vidseo-overlay-bg {
    position: absolute;
    /*background-color: rgba(20, 111, 91, 0.8);*/
    background-color: rgba(70, 70, 70, 0.8);
    width: 99%;
    height: 100%;
    border-radius: 0px;
    margin-left: 5px;
}
.vidseo-overlay-bg h2 {
	font-size: 30px;
	color: #f1f1f1;
	text-transform: uppercase;
	text-align: center;
	margin-top: 210px;
}
.vidseo-overlay-bg h2 span {
	padding-right: 10px;
	font-size: 36px!important;
}


.vidseo-containter .dashicons {
	font-size: 30px;
	margin-top: -7px;
	margin-right: 1px;
}

h2.vidseo_heading {
    text-transform: uppercase;
    background-color:rgba(226, 232, 240, 0.7);
    padding: 15px;
    border-radius: 5px;
}

.vidseo-main ul {
    margin-left: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.vidseo-selectable {
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
    user-select: all; /* Chrome and Opera */

}

[v-cloak] {
    display: none;
}

.vidseo-segment {
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(226, 232, 240, 0.7);
    margin: 35px 0;
}
.vidseo-segment p {
    margin: 0 0 10px;
}
.vidseo-shortcode-view {
    background-color: rgba(226, 232, 240, 0.8);
    padding: 15px;
    margin: 15px 0;
    border: 1px solid rgba(226, 232, 240, 1);
    font-size: 20px;
    color: #222;
    border-radius: 5px;
}
#vidseo_post_options.postbox {
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(226, 232, 240, 0.7);
    border: 0px solid rgba(226, 232, 240, 0.9);
}

#vidseo_post_sidebar.postbox .postbox-header {
    background-color: rgba(226, 232, 240, 1);
}
#vidseo_post_sidebar.postbox {
    background-color: rgba(226, 232, 240, 0.7);
}